[submodule "third-party/sol2"]
	path = third-party/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "third-party/lua"]
	path = third-party/lua
	url = https://github.com/caomengxuan666/lua.git
[submodule "third-party/gooletest"]
	path = third-party/gooletest
	url = https://github.com/google/googletest.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "third-party/leveldb"]
	path = third-party/leveldb
	url = https://github.com/google/leveldb.git
